{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block title %}Password Reset{% endblock title %}
   
{% block body %} 
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">   
        <div class="mb-4">
            <h1 class="text-2xl text-black font-bold pl-2">Password Reset</h1>    
            <p class="my-5 pl-2">
                Since this is not a production vesion, password reset via email is not yet implemented. Please, go to your terminal console (VS Code users) and click on the reset link provided. This will redirect you to the password reset page.
            </p>            
        </div> 
    </div>      
{%endblock body%}