{% extends "base.html"%}
{% load allauth i18n %}

{% block title %}Sign Up{% endblock title %}

{% block body %}
<!-- component -->
<form action="/signup/" method="post">
    {% csrf_token %}
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
        {% if form.errors %}
            <div class="text-sm text-center text-red-400 py-2">
                {{ form.errors }}                
            </div>
        {% endif %}
        <div class="mb-4">            
            <label class="block text-grey-darker text-sm font-bold mb-2" for="id_email">
                Email 
                <span class="text-xs text-red-700 px-3">(Required - Used For Password Reset)</span>
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="email" id="id_email" type="email" placeholder="Email" required>
        </div>
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="id_username">
                Username 
                <span class="text-xs text-red-700 px-3">(Required)</span>
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" name="username" id="id_username" type="text" placeholder="Username" required>
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="id_password1">
                Password
                <span class="text-xs text-red-700 px-3">(Required)</span>
            </label>
            <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" name="password1" id="id_password1" type="password" placeholder="******************" required>
            <p class="text-red text-xs italic">Choose a password.</p>
            <ul class="list-disc font-bold text-xs pl-4 mt-3">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="id_password2">
                Re-Enter Password
                <span class="text-xs text-red-700 px-3">(Required)</span>
            </label>
            <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" name="password2" id="id_password2" type="password" placeholder="******************" required>            
        </div>
        <div class="flex items-center justify-between">
            <button class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded" type="submit">Sign Up</button>           
        </div>
        <div class="flex items-center py-3">
            <p class="text-center">
                Already have an account? Then please 
                <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/login/">Sign In</a>.
            </p>
        </div>
    </div>
</form>
{% endblock body%}